/* testtesttest */

@font-face {
    font-family: 'HachiMaruPop';
    src: url('assets/fonts/HachiMaruPop-Regular.ttf');
  }

@font-face {
    font-family: 'MateSC';
    src: url('assets/fonts/MateSC-Regular.ttf');
  }

:root {
    --font: 'HachiMaruPop', sans-serif;
    --accentColor: #66d0e3;
    background: #ff7aff;
}

body {
    margin: 0;
    padding: 0;
}

#card {
    max-width: 30rem;
    padding: 0 20px 15px;
    margin: 0 auto;
}

#cardMenu {
    display: none;
}

#bannerContainer {
    height: 200px;
    position: relative;
}

#banner {
    height: 100%;
    background-image: url('assets/image/Jeanne1.png');
    background-size: cover;
    background-position: center 25%;
}

#traits {
    color: #30D5C8;
    will-change: contents;
}

#cardText {
    display: none;
}

